.movie_page {
  width: 100%;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    flex-direction: column;
    @include mQ(640px) {
      padding: 10px 5px;
    }
    h1 {
      padding: 0%;
      margin: 0%;
      font-size: $heading;
      @include mQ(640px) {
        font-size: $resp_heading;
      }
    }
  }
  .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;

    .no_data {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        padding: 0%;
        margin: 0%;
        font-size: $heading;
        @include mQ(640px) {
          font-size: $resp_heading;
        }
      }
    }
    .data_container {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-right: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      .rating {
        position: absolute;
        right: -5px;
        top: -5px;
        border-radius: 8px;
        padding: 0px 5px;
      }
      img {
        height: 250px;
        border-radius: 5px;
      }
      p {
        width: 180px;
        font-size: 1vw;
        font-weight: bold;
        margin: 0;
        padding: 0;
        @include mQ(640px) {
          font-size: 4vw;
        }
      }
    }
  }
}
